.modalRoot {
}

.modalUnderlay {
}

.modalModal {
    width: 990px;
}
.modalContainer {
}
.modalClose {
}

.header {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
    color: #000;
}

.body {
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
