.h {
    color: #000000;
}

.level2 {
    font-size: 24px;
    line-height: 29px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.level3 {
    font-size: 18px;
    line-height: 21px;
    margin-top: 35px;
    margin-bottom: 20px;
}
