.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 19px;
    margin-top: 45px;
    cursor: pointer;
}
.title {
    font-size: 20px;
}
.deleteBlock {
    display: flex;
    justify-content: space-between;
}
.deleteLabel {
    color: rgba(23, 23, 27, 0.5);
    margin-left: 13px;
}
