@import '../../../../styles/config';

.root {
}

.container {
    padding-top: 20px;
    display: inline-flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding: 0 13px;
}
.th {
    font-size: 16px;
    line-height: 19px;
    color: #868686;
    padding-bottom: 12px;
}

.body {
    background: #f9f9f9;
    border-radius: 15px;
    padding: 0 13px;
}

.tr {
    display: flex;
    align-items: stretch;
}

.td {
    padding: 30px 0;
    border-bottom: 1px solid #e1e1e1;
    font-size: 18px;
    line-height: 21px;
    color: #17171b;
    display: flex;
    align-items: center;
}
.tr:last-child .td {
    border-bottom: none;
}

.commandName {
    width: 455px;
}
.commandStatus {
    width: 276px;
}
.commandRun {
    width: 123px;
}

.runButton {
    background-color: $color-primary;
    padding-left: 27px;
    padding-right: 27px;
    min-width: auto;

    &:hover {
        background-color: lighten($color-primary, 10%);
    }

    &:active {
        background-color: $color-white;
        color: $color-black;
    }
}
