.root {
}

.fieldsGroups {
}

.fieldGroup {
    display: flex;
    align-items: center;
}

.fieldGroupSelector {
    flex: 1 1 0;
}

.deleteButton {
    margin-left: 40px;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
}

.addButton {
}
